registry=https://pkgs.dev.azure.com/Syncfusion-Bold/Bold-BI/_packaging/boldbi-development/npm/registry/

always-auth=true
//pkgs.dev.azure.com/Syncfusion-Bold/Bold-BI/_packaging/boldbi-development/npm/registry/:username=VssSessionToken
; This is an unencrypted authentication token. Treat it like a password. DO NOT share this value with anyone, including Microsoft support.
//pkgs.dev.azure.com/Syncfusion-Bold/Bold-BI/_packaging/boldbi-development/npm/registry/:_password=aTdqeGUza2llNGdmeWF3cmt5d2xnemJwYzNwc3ljYzRocXA3M3lrZnNrNnMyb3QzZmJqcQ==
; The npm client won't use username and _password without an email set, but the service doesn't use the email value. The following is an arbitrarily made-up address.
//pkgs.dev.azure.com/Syncfusion-Bold/Bold-BI/_packaging/boldbi-development/npm/registry/:email=not-used@example.com
